
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  min-height: 100vh;
  position: relative;

}
footer {
  position: absolute;
  background-color: #20c997;

}
nav{
  background-color: #20c997;

}

.container {
  width: auto;
  padding: 0 15px;
}
.btn {
    background-color: #20c997;
    border-color: #20c997;
    }
