
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  min-height: 100vh;
  position: relative;
  margin: 0;
   box-sizing: border-box;

}

footer {
  position: absolute;
  bottom: 0;
  height: 100px;

 
}
.container {
  width: auto;
  padding: 0 15px;
}


/*------/ Socials /------*/
.socials {
  padding: 1.5rem 0;
  font-size: 2rem
}
.socials ul li {
  display: inline-block;
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.skill-mf span {
  color: #4e4e4e;
}
.skill-mf .progress {
  background-color: #cde1f8;
  margin: 0.5rem 0 1.2rem 0;
  border-radius: 0;
  height: 0.7rem;
}
.skill-mf .progress .progress-bar {
  height: 0.7rem;
  background-color: #0078ff;
}
.skill-mf .bar1 { 
width: 85%;
}
.skill-mf .bar2 { 
width: 70%;
}
.skill-mf .bar3 { 
 width: 30%;
  }
.skill-mf .bar4 { 
width: 10%;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.footer-paralax {
  padding: 4rem 0 0 0;
}

.contact-mf {
  margin-top: 4rem;
}

@media (min-width: 767px) {
  .contact-mf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }
}

